 body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
img{
    width: 100%;
}

/* Add you CSS styles here */
.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "hero featured featured"
    "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
  padding: 20px;
}

/* Areas */
.header {
  grid-area: header;
  background-color: #1a1a2e;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.478);
    margin: 3px;
}

.featured {
    background-color: rgb(0, 0, 96);
    color: white;
    padding: 10px;
    border-radius: 7px;
}

.hero {
  grid-area: hero;
}

.featured {
  grid-area: featured;
}

.footer {
  grid-area: footer;
}