body{
    margin: 0px;
    background-color: antiquewhite;
}
.hero{
    background-color: rgb(30, 207, 104);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero h1{
    color: white;
}
.hero p{
    color: white;
}

.btn {
  background-color: #ff9933;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.btn:hover {
  background-color: #e67e22;
}

.btn:active {
  transform: scale(0.96);
  background-color: #cc6d1f;
}

.features {
    padding: 10px;
    text-align: center;
}

.section-title {
    font-size: 32px;
    color: rgb(68, 192, 111);
    padding-bottom: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.feature { padding: 10px; }

