body {
    margin: 0;
    background-color: rgb(186, 255, 186);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 207, 104);
    padding: 50px;
}

.hero h1, .hero p {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


