body{
    margin: 0px;
    background-color: antiquewhite;
}
.hero{
    background-color: rgb(30, 207, 104);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero h1{
    color: white;
}
.hero p{
    color: white;
    margin-bottom: 30px;
}

.btn {
    background-color: #ff9933;
    transition: background-color 1s ease;
}

.btn:hover { background-color: #ff0000; }

.btn:active { background-color: rgb(0, 250, 4); }


